<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Zeloth</title>
    <link rel="stylesheet" type="text/css" href="../../Styles/homepage.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <script
      src="https://kit.fontawesome.com/8ea7e85408.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" src="font-6/css/all.css" />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <script src="homepage.mjs" type="module"></script>
  </head>
  <body>
    <grid-base
      main-heading="Job Portal"
      columns='["Job ID",
      "Job Title",
      "Location",
      "Experience Level",
      "Contact Person",
      "Status"]'
      ,
      sortFeature="true"
      ,
      paginationFeature="true"
      ,
      id="gridBase-page"
    ></grid-base>
    <loader-page id="loader" />
  </body>
</html>
