* {
  font-family: Arial, sans-serif;
}

.navbar {
  background-image: linear-gradient(-105deg, #009999, #363795);
  height: 12%;
  display: flex;
  align-items: center;
  padding: 2%;
  box-sizing: border-box;
  border-radius: 5px;
}

#nav-heading {
  font-size: larger;
  color: white;
}

.menu-icon {
  width: 100px;
  cursor: pointer;
  flex: 1;
  text-align: right;
  color: white;
  font-size: larger;
}
