* {
  font-family: Arial, sans-serif;
}

#gridBaseTemplate {
  background-color: #f1c27d;
  height: 100vh;
}

#mainHeadingContainer {
  max-width: 1250px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mH-buttons-container {
  width: 900px;
  height: 50px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 18px;
}

#recordFilter {
  width: 150px;
}

#statusfilter {
  width: 200px;
  text-align: left;
  visibility: visible;
}

#createBtnContainer {
  width: 200px;
  padding-left: 440px;
}

.statusFilterTickIcon {
  padding-left: 2px !important;
  color: blue;
}

#closedJobFilterTick,
#openJobFilterTick {
  visibility: hidden;
}

.dropdown-menu {
  display: none;
  position: absolute;
  /* top: 120px;
  right: 100px; */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1000;
}

#statusFilter-menuIcon {
  color: black;
  font-size: larger;
  padding-left: 20px;
  /* padding: 6px;
  margin-top: 5px;
  width: 16px;
  background-color: #ffdbac;
  border-radius: 2px;
  border-collapse: collapse;
  border-style: outset;
  border-color: black; */
}

#statusFilter-menuIcon:hover {
  cursor: pointer !important;
  opacity: 0.5 !important;
}

#statusFilterDropdownHeading {
  font-size: medium;
  font-weight: 1000;
  height: 10px;
  text-align: left;
  padding-left: 19.5px;
}

.dropdown-menu a {
  display: block;
  padding: 10px 20px !important;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
  text-align: left !important;
  font-size: medium !important;
}

.dropdown-menu a:hover {
  background-color: #f0b152;
}

#mn-tb-con {
  border-collapse: collapse;
  border-style: outset;
  border-color: black;
}
/* Change */
#table-container {
  overflow-x: auto;
  background-color: #f1c27d;
  max-height: 350px;
}

h1 {
  text-align: center;
  color: #333;
}
/* Tables styles */
#employeeTable {
  display: table;
  width: 100%;
  border-collapse: collapse;
  /* border-style: outset; */
  /* border-color: black;
    border-top: hidden !important;
    border-bottom: hidden !important; */
}

th,
td {
  padding: 12px;
  border-style: solid;
  border-color: #8d5524;
  border-width: 2px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #c68642;
}

#employeeTable thead {
  position: sticky;
  top: 0;
  background-color: #c68642;
}

#pagination-box {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;
  position: sticky;
  bottom: 0;
  background-color: #c68642;
  padding: 10px;
  border-collapse: collapse;
  /* border-style: outset;
    border-color: black;
    border-top: hidden !important; */
}

#pagination-box .page-info {
  font-size: 16px;
}

#pagination-box .page-size select {
  padding: 5px;
}

#pagination-box .pagination-buttons button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #f1c27d;
}

#pagination-box .pagination-buttons button i {
  margin: 0 5px;
}

/* tbody tr:hover {
    background-color: #ffdbac;
  } */

/* icon style */

.icond {
  color: #1b1b1b;
  padding: 2px;
}

.icond:hover {
  cursor: pointer;
}

button {
  background-color: #c68642;
  color: white;
  padding: 10px 15px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #1b1b1b;
}

#_employeeId {
  width: 100px;
}
#_firstName {
  width: 95px;
}
#_lastName {
  width: 99px;
}
#_position {
  width: 109px;
}
#_contactNumber {
  width: 127px;
}
#_email {
  width: 115px;
}

.man-star {
  color: red;
}

.createModalitems:disabled {
  opacity: 0.98;
}

#nr-msg {
  display: none;
  font-size: 3rem;
  font-weight: 200;
  color: #8d5524;
}

/* Create Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 3px solid black;
  width: 24%;
  margin-top: 0.5px;
}

.createModalFields {
  width: 355px;
  height: 100%;
  align-items: center;
}

.createModalitems {
  position: relative;
  right: 2px;
  margin: 2px;
  width: 148px;
}

.createModalTable {
  width: 100%;
  border-collapse: collapse;
  border-style: none;
  border-color: black;
}
.createModalTable td {
  padding: 5px;
  border-style: none;
  border-color: #8d5524;
  border-width: 4px;
  text-align: left;
  align-content: baseline;
  height: 41px;
}

.createModalTable input {
  width: 140px;
}

#cM-eid-i-evm {
  display: none;
  color: red;
  font-weight: bold;
}

#cM-fn-i-evm {
  display: none;
  color: red;
  font-weight: bold;
}

#cM-em-i-evm {
  display: none;
  color: red;
  font-weight: bold;
}

#cM-cn-i-evm {
  display: none;
  color: red;
  font-weight: bold;
}
.createModalButtons {
  padding-top: 10px;
  padding-left: 57px;
}

.createModalHeading {
  padding-left: 87px;
}

/* Update Modal styles */
#updateModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

#updateModal .modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 3px solid black;
  width: 24%;
  margin-top: 0.5px;
}

#updateModal .createModalFields {
  width: 355px;
  height: 100%;
  align-items: center;
}

#updateModal .createModalitems {
  position: relative;
  right: 2px;
  margin: 2px;
}

.updateModalTable {
  width: 100%;
  border-collapse: collapse;
  border-style: none;
  border-color: black;
}

.updateModalTable td {
  padding: 5px;
  border-style: none;
  border-color: #8d5524;
  border-width: 4px;
  text-align: left;
  align-content: baseline;
  height: 41px;
}

.updateModalTable input {
  width: 140px;
}

.updateModalButtons {
  padding-top: 10px;
  padding-left: 57px;
}

.updateModalHeading {
  padding-left: 90px;
}

#uM-eid-i-evm {
  display: none;
  color: red;
  font-weight: bold;
}

#uM-fn-i-evm {
  display: none;
  color: red;
  font-weight: bold;
}

#uM-em-i-evm {
  display: none;
  color: red;
  font-weight: bold;
}

#uM-cn-i-evm {
  display: none;
  color: red;
  font-weight: bold;
}
/* Delete Modal styles */

#deleteModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

#deleteModal .modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 3px solid black;
  width: 30%;
}

#deleteModal p {
  padding-left: 10px;
}

#deleteModal .createModalitems {
  position: relative;
  right: 2px;
  margin: 2px;
}

.deleteModalButtons {
  padding-top: 10px;
  padding-left: 80px;
}

.deleteModalHeading {
  padding-left: 120px;
}

/* Description Modal styles */

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.descCell {
  cursor: "pointer";
  color: #0070e0;
}

.descCell:hover {
  opacity: 0.6;
  text-decoration: none;
  cursor: pointer;
}

/* Apply Job Confirmation Modal */
#applyJobConfirmationModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

#applyJobConfirmationModal .modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 3px solid black;
  width: 30%;
}

#applyJobConfirmationModal p {
  padding-left: 10px;
}

#applyJobConfirmationModal .createModalitems {
  position: relative;
  right: 2px;
  margin: 2px;
}

.applyJobConfirmationModalButtons {
  padding-top: 10px;
  padding-left: 80px;
}

.applyJobConfirmationModalHeading {
  padding-left: 120px;
}

/* Revoke Job Confirmation Modal */

#revokeJobConfirmationModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

#revokeJobConfirmationModal .modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 3px solid black;
  width: 30%;
}

#revokeJobConfirmationModal p {
  padding-left: 10px;
}

#revokeJobConfirmationModal .createModalitems {
  position: relative;
  right: 2px;
  margin: 2px;
}

.revokeJobConfirmationModalButtons {
  padding-top: 10px;
  padding-left: 80px;
}

.revokeJobConfirmationModalHeading {
  padding-left: 55px;
}

/* Action column icons styles */
#action_column {
  opacity: 0.5;
  overflow: hidden;
}
.editIcon {
  cursor: pointer;
  padding: 3px;
  margin-top: 2px;
  background-color: #ffdbac;
  border-radius: 2px;
  margin-right: 2px;
  border-collapse: collapse;
  border-style: outset;
  border-color: black;
}

.deleteIconDisabled {
  opacity: 0.5;
  padding: 3px;
  margin-top: 5px;
  width: 16px;
  background-color: #ffdbac;
  border-radius: 2px;
  margin-left: 2xp;
  border-collapse: collapse;
  border-style: outset;
  border-color: black;
  padding-right: 1.2px;
}

.deleteIcon {
  cursor: pointer;
  padding: 3px;
  margin-top: 5px;
  width: 16px;
  background-color: #ffdbac;
  border-radius: 2px;
  margin-left: 2xp;
  border-collapse: collapse;
  border-style: outset;
  border-color: black;
  padding-right: 1.2px;
}

.applyJobIcon {
  cursor: pointer;
  padding: 3px;
  margin-top: 5px;
  width: 53px;
  border-radius: 2px;
  margin-left: 2xp;
  border-collapse: collapse;
  border-style: outset;
  border-color: black;
  font-weight: 700;
}

.revokeJobIcon {
  cursor: pointer;
  padding: 3px;
  margin-top: 5px;
  width: 69px;
  border-radius: 2px;
  margin-left: 2xp;
  border-collapse: collapse;
  border-style: outset;
  border-color: black;
  font-weight: 600;
}

.editIcon:hover,
.deleteIcon:hover,
.applyJobIcon:hover,
.revokeJobIcon:hover {
  cursor: pointer;
  color: grey;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mainHeading {
  display: none;
}

/* Navbar */

.navbar-container {
  height: 8%;
}
.navbar {
  background-color: #c68642;
  height: 5%;
  display: flex;
  align-items: center;
  padding: 2%;
  box-sizing: border-box;
  border-radius: 15px;
}

#nav-heading {
  font-size: larger;
  color: white;
  width: 99%;
  text-align: left;
}

.nav-menuIcon {
  cursor: pointer;
  flex: 1;
  text-align: right;
  color: white;
  font-size: larger;
}

.tooltiptext {
  visibility: hidden;
  font-size: small;
  font-weight: 200;
  width: 55px;
  background-color: white;
  color: grey;
  text-align: center;
  border-radius: 2px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
  top: 45px;
  right: 50px;
  opacity: 0;
  transition: opacity 0.9s;
}

#logout-link:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.permissibleScreen {
  max-width: 1250px;
  margin: 20px auto;
  margin-top: 1px;
}

#tableContainerTopArea {
  height: 10px;
  display: inline-block;
}

#top-leftLabel {
  position: relative;
  left: 46.5px;
  bottom: 10px;
  background-color: #c68642;
  max-width: 160px;
  border-radius: 4px;
}

#top-leftLabelText {
  font-family: monospace;
  padding-left: 2px;
  border-style: outset;
  border-width: 2px;
  border-bottom: none;
  border-color: #000;
  border-radius: 2.5px;
}

#top-leftLabelText:hover {
  color: #0070e0;
}

#descriptionContent h2 {
  text-align: center;
}

#top-rightLabel {
  position: relative;

  left: 40px;
  bottom: 10px;
  background-color: #c68642;
  max-width: 50px;
  border-radius: 4px;
}

#top-rightLabelText {
  font-family: monospace;
  padding-left: 2px;
  border-style: outset;
  border-width: 2px;
  border-bottom: none;
  border-color: #000;
  border-radius: 2.5px;
}

#top-rightLabelText:hover {
  color: #0070e0;
}
